
.container-custom{
    display: flex;
    justify-content: center;
}
.bottom-navigation-block{
    margin-top:136px;
    width: 832px;
    height:370px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
}
.bottom-navigation-block .first-nav-block{
    width: 344px;
}
.bottom-navigation-block .first-nav-block .page-title{    
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;    
}
.bottom-navigation-block .first-nav-block .page-description{
    font-size: 16px;
    margin-top: 24px;
}
.bottom-navigation-block .first-nav-block .page-title,
.bottom-navigation-block .first-nav-block .page-description{
    text-align: left;
    font-style: normal;    
    
}

.bottom-navigation-block .second-nav-block{
    width: 389px;
    height:320px;
    background: #F5F5F5;
    border-radius: 12px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
}
.image-block{
    background: #FFFFFF;
    width: auto;
    height: 56px;    
    box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image-block div{
    margin:12px;
}
.image-block .image-text{
    color:#4E46B4;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
}
.first-image-block{
    display: flex;
    flex-direction: column;
}
.component-block{
    margin-top:48px;
    display: flex;  
    justify-content: center;  
}

.component-block .component-header{    
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align:left;
    margin-bottom:20px;
}
.component-block .component-parent{
    justify-content: center;
    width: 832px;
    margin-bottom: 40px;
}
.grey-block{
    display: flex;
    padding-top:56px;
    padding-bottom:39px;    
    background-color: #f5f5f5;
    border-bottom: 1px solid #EBEBEB;
}
.blue-button{  
    margin: 8px 12px;
    /* gap: 10px; */
    width: 32px;
    height: 40px;
    background: #4E46B4;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.blue-button .button-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.grid {
    display: grid;
}
.grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr));
}
.gap-4 {
    gap: 1rem;
}
.col-span-2 {
    grid-column: span 2/span 2;
}
